body{
    color: #fff;
    background: gray;
    font-family: 'Roboto', sans-serif;
}

.form-control{
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}
.form-control:focus{
    border-color: #5cb85c;
}
.form-control, .btn{        
    border-radius: 3px;
}