body{
    color: #fff;
    background: gray;
    font-family: 'Roboto', sans-serif;
}

.form-control{
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}
.form-control:focus{
    border-color: #5cb85c;
}
.form-control, .btn{        
    border-radius: 3px;
}

.signup-form{
    width: 400px;
    margin: 0 auto;
    padding: 75px 0;
}
.signup-form h2{
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}
.signup-form h2:before, .signup-form h2:after{
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}